
@{
    ViewBag.Title = "Education";
}

<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
</head>
<body>

    <ul>
        <li>
            HSC
            <ul>
                <li>Amrita Lal Dey COLLEGE</li>
                <li>Year: 2019</li>
                <li>Rsult: 4.75</li>
            </ul>
        </li>
        <li>
            SSC
            <ul>
                <li>Charbaniary High School</li>
                <li>Year: 2017</li>
                <li>Rsult: 5.00</li>
            </ul>
        </li>
    </ul>
</body>
</html>

