
@{
    ViewBag.Title = "PersonalInfo";
}

<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <p>Swarjit Sarkar</p>
    <p>20-43003-1</p>
    <p>swarjitsarkar@gmail.com</p>
    <p>Ph-01701826922</p>

</body>
</html>

